<!DOCTYPE html>
<html ng-app="ToDo">
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
    <script src="angular.min.js"></script>
    <script type="text/javascript" src="controler.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  </head>
  <body>
    <h1>To Do List</h1>
    <hr>

    <div ng-controller="TaskCtrl">
    <input ng-model="taskName" type="text" placeholder="Entrer une tâche"/>
    <button type="button" name="button" ng-click="addTask()">Ajouter tâche</button>
    <button type="button" name="button" ng-click="deleteAll()">Supprimer toutes les tâches</button>

    <!-- <button type="button" name="button" ng-init="toto = true" ng-click="toto = !toto">CLICK</button>


    <div ng-show='toto'>
      <h1>NG-SHOW</h1>
    </div>

    <div ng-hide='toto'>
      <h1>NG-HIDE</h1>
    </div>

    <div ng-if='toto'>
      <h1>NG-IF</h1>
    </div> -->


      <div ng-repeat="task in tasks">
        <div class="tasks">
          <table>
            <tr>
              <td></td>
            </tr>
            <label for="taskName">{{task.taskName}}</label>
            <a ng-click="isFavorite($index)" ng-class="{'fa fa-star': task.favorit===false, 'fa fa-star-o': task.favorit===true}"></a>
            <button type="button" name="button" ng-click="deleteTask($index)">Supprimer</button>
          </table>

          <input type="text" ng-model="subTaskName">
          <button type="button" ng-click="addSubTask($index, subTaskName)">Ajouté sous tâche</button>
          <ul ng-repeat="subtask in task.subtask track by $index">
            <li>{{subtask}}</li>
            <button type="button" ng-click="deleteSubTask($index, $parent.$index)">Supprimer</button>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
